ul, ol {
  list-style: none;
  padding-left: 0;
}

body {
  font-family: Arial, sans-serif; /* 원하는 폰트로 변경 */
}

.login {
  width: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login h2 {
  padding: 0 0 20px;
  text-align: center;
  line-height: 1;
  font-size: 32px;
}

.login ul {
  padding: 40px 0 33px;
}

.login li {
  padding: 0 0 12px;
}

.login li input {
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  text-indent: 16px;
}

.login li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
}

.login button {
  width: 100%;
  height: 56px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  
}